= form.input :code
= form.input :name
= form.input :parent_name, :as => :independent, :input_html => {:data => {:"autocomplete-source" => api_categories_path}, :value => @category.parent ? @category.parent.name : ''}, :label => 'Parent'
= form.input :parent_id, :as => :hidden
= form.input :icon, :as => :file

= form.button :submit
\|
= link_to 'Cancel', cancel_url
